* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #112031;
    font-family: sans-serif;
    color: #D4ECDD;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.site__form {
    margin: 0;
    padding: 30px 40px;
    width: 800px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background: rgba(212, 236, 221, 0.55);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.count__input {
    margin: 0;
    padding: 10px 20px 10px 20px;
    width: 140px;
    border-radius: 50px;
    color: #ffffff;
    font-size: 20px;
    background: #3498db;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border: 1px solid #A5C9CA;
}

.btn {
    background: #3498db;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 28px;
    color: #ffffff;
    font-size: 20px;
    width: 140px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.count__label {
    font-size: 20px;
}
.result{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 20px;
}
.result__content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
}